@font-face {
  font-family: 'mastoc_personal_use_onlyRg';
  src: font-url("mastoc_personaluseonly-webfont.eot");
  src: font-url('mastoc_personaluseonly-webfont.eot?#iefix') format("embedded-opentype"),
    font-url('mastoc_personaluseonly-webfont.ttf') format("truetype"),
    font-url('mastoc_personaluseonly-webfont.woff') format("woff"),
    font-url('mastoc_personaluseonly-webfont.svg#mastoc_personal_use_onlyRg') format("svg");
}

#logo {
  padding-top: 9px;
  padding-left: 50px;
  font-family: 'mastoc_personal_use_onlyRg';
  color: #ffffff;
  font-size: 50px;
  font-weight: normal;
  &:hover {
    color: #18BC9C;
  }
}

.background {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-image: asset-url("lake.jpg");
  background-size: cover;
}

.section {
  padding-bottom: 7px;
  margin-bottom: 20px;
  border-bottom: 1px solid #2C3E50;
}

.main-content {
  background-color: rgba(255, 255, 255, 0.6);
}

.error-message {
  margin-left: 100px;
  margin-right: 100px;
}